[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
apache-beam = {extras = ["gcp"],version = "*"}
beam-nuggets = "*"
kafka-python = "*"
google-cloud-datastore = "*"

[requires]
python_version = "3.7"
